ANDROID_DEVICE_NAME=Android
ANDROID_UDID=
APPIUM_HOST=127.0.0.1
APPIUM_PORT=4723
APP_PACKAGE=net.dzigne.sigmaapp.euroville
APP_ACTIVITY=com.example.sigmacon.MainActivity

BOOKING_COURTS=CAMPO SOCIETY,QUADRA AREIA 01
BOOKING_TIMES=19:00,20:00,21:00
BOOKING_DAY_OFFSET=1
DRY_RUN=true
REMINDERS_MARK_SENT=false

WHATSAPP_GRAPH_VERSION=v20.0
WHATSAPP_TOKEN=
WHATSAPP_PHONE_NUMBER_ID=
WHATSAPP_TO=

WHATSAPP_ALLOWED_SENDERS=55seunumero,55numeroesposa
WHATSAPP_NOTIFY_TO=55seunumero,55numeroesposa
WHATSAPP_SESSION_PATH=.wwebjs_auth
WHATSAPP_CHROME_PATH=C:\Program Files\Google\Chrome\Application\chrome.exe
